.header{
    display: flex;
    height:60px;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left:0;
    right:0;
    background-color: white;
    border-bottom-color: rgb(199, 199, 199);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
}

.left-section{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height:24px;
    margin-left: 20px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    flex: 1;
    display: flex;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}

.search-bar{
    flex:1;
    height: 34px;
    padding-left: 8px;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(210, 208, 208);
    border-radius: 3px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,.08);
}
.search-bar::placeholder{
    font-size: 20px;

}

.search-button{
    height: 38px;
    width:60px;
    border-color: rgb(210, 208, 208);
    border-radius: 3px;
    border-style: solid;
    margin-left: -1px;

}

.search-icon{
    height: 25px;
    margin-top: 3px;
}

.voice-search-button{
    height:40px;
    width:40px;
}


.right-section{
    background-color: lightgreen;
    width: 200px;
}
